{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <div class="maincont container-fluid">
        <a href="{% url "home" %}" class="home"><img src="{% static "img/logowhite.png" %}" alt="" class="logocc"></a>
        <div class="term container">
            <h1 class="terms">Terms & Conditions</h1>
            <p class="terms">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur assumenda autem illo itaque
                nam
                nisi, omnis optio, possimus ratione sapiente, temporibus voluptatum? A cupiditate eveniet incidunt qui
                quis
                soluta?Facere fuga nesciunt repudiandae. Accusamus accusantium ad assumenda cumque debitis earum enim
                facilis fuga illo laboriosam, magni molestiae nemo perferendis qui sapiente sequi voluptate! Architecto
                inventore necessitatibus rem! Laborum, magni?Dolor dolorum earum nisi sit voluptates. Accusamus adipisci
                aspernatur atque commodi cumque debitis eligendi eos, eum fugit impedit in magnam non odio pariatur
                placeat
                praesentium quasi quod quos sunt tempora.
            </p>
        </div>
    </div>
{% endblock %}