{% extends "base/base.html" %}
{% block content %}
    <h1>T & C</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aperiam asperiores beatae
        consequatur cum explicabo, fuga fugit harum impedit in ipsam minus nesciunt nisi officiis pariatur praesentium
        quis quod recusandae sapiente ut vel veniam? Commodi dolores ducimus fugit inventore quia, recusandae sapiente.
        Aperiam aut blanditiis commodi cupiditate esse eveniet ex expedita facilis fuga harum id illo impedit ipsa iure
        laboriosam laudantium magnam molestias mollitia nam necessitatibus nemo nesciunt nobis non odit perspiciatis
        quaerat quo reiciendis sed tempora tempore temporibus tenetur, ut voluptas! Delectus eos, nobis rem sequi sint
        temporibus. Consequatur eligendi facere itaque minima porro quas quidem rem vero!</p>
{% endblock %}