{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<nav class="cusnav">
    <div class="logo">
        <a href="#" class="logo">
            <img src="{% static 'img/anologo.png' %}" alt="" class="logo">
        </a>
    </div>
    {% if user.is_authenticated %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    {% endif %}
</nav>
{% endblock %}
