{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <div class="logcont">
        <div class="log">
            <h1 class="loghead">
                Login
            </h1>
            <form method="post">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                {{ form.as_p }}
                <a href="#" class="passreset">Forgot Password?</a>
                <button type="submit" class="logbtn">Login</button>
            </form>
            <span class="up">
                <p class="up">Not having an account?</p>
                <a href="{% url "register" %}" class="log_link-sec">Sign Up</a>
            </span>
        </div>
    </div>
    <script src="{% static "js/materialize.js" %}"></script>
{% endblock %}