/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {...}*/
body {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

@font-face {
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-family: "popp-reg";
}

@font-face {
    src: url("../fonts/oraqle_script/Oraqle Script.ttf");
    font-family: "oracle";
}

/*NAVBAR*/

nav.cusnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    min-width: 100%;
    z-index: 1000;
}

ul.link {
    padding-top: 15px;
}

ul.link li {
    display: inline-block;
    list-style-type: none;
    margin: 0 15px;
}

ul.link li:first-child {
    margin-left: 0;
}

ul.link li:last-child {
    margin-right: 0;
}

ul.link li a:hover {
    color: #007bff;
}

img.logo {
    width: 120px;
    margin-top: -10px;
}

ul.link li a {
    text-decoration: none;
    font-family: popp-reg, serif;
    letter-spacing: 0.09rem;
    color: #fdfdfe;
    font-size: 14px;
}

/*CONTAINER*/
div.container-cus {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

div.first_cont {
    height: 100vh;
    background-image: url("../img/man-holding-mug-in-front-of-laptop-842548.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

div.diag {
    z-index: 500;
}

div.firstoverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1E110B;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

span.head {
    font-family: oracle, serif;
    font-size: 140px;
    line-height: 130px;
    color: #fdfdfe;
}

p.text {
    color: #fdfdfe;
    font-family: Consolas, serif;
    letter-spacing: 0.7px;
    font-size: 17px;
}

div.second_cont {
    height: 80vh;
    background-color: #1b1e21;
    width: 100%;
}

a.button_link {
    text-decoration: none;
    border: 1px solid white;
    padding: 15px 55px;
    margin-top: 10px;
    display: inline-block;
    margin-right: 18px;
    border-radius: 5px;
}

a.button_link:hover {
    text-decoration: none;
    color: #fdfdfe;
}

a.signup {
    background-color: #FEC92F;
    color: #fdfdfe;
    border: none;
    font-weight: 700;
    letter-spacing: 0.08rem;
}

a.loginlink {
    border: 2px solid #FEC92F;
    color: #FEC92F;
    font-weight: 700;
    letter-spacing: 0.08rem;
}

a.loginlink:hover {
    color: #FEC92F;
}

div.scroll {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 50px;
    left: 0;
}

img.down {
    width: 40px;
}

div.divsec {
    justify-content: center;
}

div.second {
    background-image: url("../img/aadmikaphoto.png");
    background-size: contain;
    min-width: 90%;
    min-height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1.news {
    font-family: oracle, serif;
    font-size: 100px;
    line-height: 100px;
    color: #FEC92F;
}

input.news {
    padding: 10px 20px;
    width: 35%;
    display: inline;
    border: none;
    border-radius: 7px;
}

input.submit {
    width: 9%;
    display: inline-block;
    padding: 10px;
    margin-top: 15px;
    color: #fdfdfe;
    background-color: #FEC92F;
    letter-spacing: 0.03rem;
}
div.foot{
    width: 100%;
    background-color: #fdfdfe;
    padding: 20px 0;
}
div.col-sm{
    padding: 0 10px;
}
img.logoblack{
    width: 100px;
}
div.footmodel{
    padding-top: 30px;
}
p.chhota{
    font-size: 20px;
}
a.pro{
    color: #1b1e21;
    display: inline-block;
    margin-right: 15px;
}
a.pro:hover{
    text-decoration: none;
}
div.desknav{
    display: block;
}
div.mobilenav{
    display: none;
}
div.mobiletogg{
    display: none;
}

/*RESPONSIVE*/


@media only screen and (max-width: 1000px) {
    nav.cusnav{
        padding: 0 20px;
    }
    div.mobiletogg{
        display: block;
    }
    div.desknav{
        display: none;
    }
    div.container-cus{
        padding: 0 10px;
    }
    div.second{
        background-size: cover;
    }
    input.news{
        width: 60%;
    }
    img.logo{
        width: 120px;
        margin-top: 0;
    }
    span.head{
        font-size: 120px;
    }
    p.text{
        font-size: 15px;
    }
    ul.link{
        margin: 0 10px;
        font-size: 12px;
    }
    div.links{
        display: none;
    }
    img.toggle{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    li{
        list-style-type: none;
    }
    li.mobile-link-item{
        text-align: center;
        margin: 30px 0;
    }
    li.mobile-link-item a{
        color: #fdfdfe;
        font-size: 20px;
    }
    div.mobilenav{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #1b1e21;
    }
    h1.news{
        font-size: 90px;
    }
    div.toggle{
        display: block;
    }
    img.toggle{
        width: 30px;
        margin-top: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 670px) {
    nav.cusnav{
        padding: 0 20px;
    }
    div.container-cus{
        padding: 0 10px;
    }
    img.logo{
        width: 80px;
        margin-top: 0;
    }
    span.head{
        font-size: 80px;
    }
    span.head{
        font-size: 100px;
    }
    a.button_link{
        width: 40%;
        text-align: center;
    }
    p.text{
        font-size: 14px;
        letter-spacing: 0;
    }
    ul.link{
        margin: 0 10px;
        font-size: 12px;
    }
    div.links{
        display: none;
    }
    input.news{
        width: 80%;
    }
    div.second{
        background-image: none;
    }
}

@media screen and (max-width: 420px){
    span.head{
        font-size: 80px;
        line-height: 70px;
    }
    a.button_link{
        width: 40%;
        padding: 10px 0;
    }
    h1.news{
        font-size: 70px;
    }
    img.toggle{
        margin-top: 0;
        margin-right: 0;
    }
    ul.mobile-link{
        margin: 0;
        padding: 0;
    }
    div.second{
        background-image: none;
    }
}