* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
}

@font-face {
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    font-family: "home_head";
}

@font-face {
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-family: "home_p";
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

div.home_main_cont {
    height: 100vh;
    width: 100vw;
    background-color: #FEF2F2;
    background-image: url("../img/Social.svg");
    background-size: 85%;
    background-position: bottom;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 600px) {
    div.home_main_cont {
        background-size: 40%;
        background-position: right bottom;
    }
}

div.cont {
    padding: 15% 20px 20px;
}

h1.home {
    font-family: home_head, serif;
    letter-spacing: 1px;
    font-size: 45px;
    line-height: 55px;
    color: #3B404C;
}

p.home {
    font-family: home_p, serif;
    margin-top: 10px;
    font-size: 18px;
}

div.buttn {
    margin-top: 30px;
}

a.home_link {
    display: inline-block;
    font-family: home_p, serif;
    padding: 8px 25px;
    margin-right: 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

a.home_link:first-child {
    background-color: #FEC92F;
    border: 1px solid #FEC92F;
    color: #ffffff;
}

a.home_link:last-child {
    border: 1px solid #936CFD;
    color: #936CFD;
}

label.active {
    display: none !important;
}

a.passreset {
    text-transform: uppercase;
    font-family: home_p, serif;
    color: #78849E;
    font-size: 13px;
    display: block;
}

div.log {
    text-align: center;
    padding-top: 10%;
}

a.log_link {
    display: inline-block;
    font-family: home_p, serif;
    padding: 8px 25px;
    margin-right: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #936CFD;
    border: 1px solid #936CFD;
}

/*a.log_link:first-child{*/
/*    border: 1px solid #936CFD;*/
/*    background-color: #936CFD;*/
/*    color: #ffffff;*/
/*}*/
/*a.log_link:last-child{*/
/*    border: 1px solid #936CFD;*/
/*    color: #936CFD;*/
/*}*/

input.cusinput {
    padding: 14px 20px;
    width: 70%;
    border-radius: 4px!important;
    border: none;
    -webkit-box-shadow: 0 0 12px 0 rgba(226, 233, 235, 1);
    -moz-box-shadow: 0 0 12px 0 rgba(226, 233, 235, 1);
    box-shadow: 0 0 12px 0 rgba(226, 233, 235, 1);
    margin-bottom: 25px;
    font-family: home_p, serif;
}

a.passreset {
    margin-bottom: 18px;
}

h1.loghead {
    font-family: home_head, serif;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

button.logbtn {
    display: inline-block;
    font-family: home_p, serif;
    padding: 8px 25px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #936CFD;
    border: 1px solid #936CFD;
    width: 50%;
}

div.logcont {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/Message.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 47%;
}

p.up {
    font-family: home_p, serif;
    font-size: 14px;
    color: #78849E;
    margin-top: 10px;
    margin-bottom: 7px;
}

a.log_link-sec {
    font-family: home_p, serif;
    font-size: 14px;
    color: #936CFD;
}

p label {
    display: none;
}

p.welcome {
    font-family: home_p, serif;
    font-size: 20px;
}

a.home_link_logout {
    border: 1px solid #FEC92F;
    padding: 8px 20px;
    margin-top: 18px;
    display: inline-block;
    width: 100px;
    letter-spacing: 0.6px;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: home_p, serif;
    background-color: #FEC92F;
}

a.messages {
    border: 1px solid #FEC92F;
    padding: 8px 20px;
    margin-top: 18px;
    display: inline-block;
    width: 150px;
    letter-spacing: 0.6px;
    text-align: center;
    border-radius: 10px;
    color: #FEC92F;
    font-family: home_p, serif;
    margin-left: 20px;
}
